# Clerk configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<your-clerk-publishable-key>
CLERK_SECRET_KEY=<your-clerk-secret-key>
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Prisma configuration
# Replace with your actual database connection string
DATABASE_URL=<your-database-url>
DIRECT_URL=<your-direct-database-url>

# UploadThing configuration
UPLOADTHING_TOKEN=<your-uploadthing-token>
